{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/boot.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
      <header>
        <h1 class="main">Hallo, ik ben Martin <small>Springvloed</small></h1>
        <div class="lead">
          <span class="martin"><img src="/assets/img/martin.jpg" alt="Foto van Martin" /></span>
          <a name="intro" class="anchor"></a>
          Een <strong>Rotterdams Fysiotherapeut</strong> die een hollistische benadering hanteert om symptomen en oorzaken te behandelen.
          <br />
          <br />
          Mijn focus ligt op het educeren en coachen van mensen. Via bewust contact met het lichaam verbeterd je gezondheid.
          <br />
          <br />
          De deur staat open, je bent van harte welkom. Neem gerust <a href="#contact">contact</a> op om de mogelijkheden te bespreken.

          <section id="{{ hash_name('vision', app.locale) }}">
            <h1><a name="{{ hash_name('vision', app.locale) }}" class="anchor"></a>Visie &amp; Missie</h1>
              <p>
                  Als therapeut werk ik met het fenomeen pijn. 20% van de mensen lijdt aan de gevolgen van chronische pijn. Dit wordt veroorzaakt door meerdere factoren waaronder, misverstanden in het pijndenken, een gebrek aan inzicht en gebrek aan adequate (zelfhulp)middelen.
                </p>
                <p>
                  Met mijn praktijk wil ik mensen die openstaan voor nieuwe inzichten, ondersteunen om  persoonlijke doelen te verwezenlijken.
                </p>
          </section>
        </div>
      </header>

      <hr />

      <section id="{{ hash_name('services', app.locale) }}">
        <h1><a name="{{ hash_name('services', app.locale) }}" class="anchor"></a>{{ 'Diensten & Activiteiten' | trans }}</h1>
        <div class="row">
          <div class="span7 colflow">
            <p>
                Een gezonde geest huist in een gezond lichaam, met <em>Mindfulness</em> leer je weer lekker in je vel te zitten.
                Middels <strong>dry needling</strong> en <strong>triggerpointtherapie</strong> worden uw spieren en gewrichten weer soepel en beweeglijk.
                Terwijl <strong>medical taping</strong> meer voor ondersteuning tijdens het bewegen of als reminder voor uw houding kan dienen.
                Een <strong>therapeutische massage</strong> kan voor meerdere doeleinden worden ingezet, ontspannen, losmaken of juist activeren.
            </p>
          </div>
          <div class="span5">
            <div class="alert-block alert alert-info">
              <h3>Tips &amp; Voorbeelden Online</h3>
              <p>
                Ik plaats regelmatig links naar gezondheids-tips en andere inspirationele berichten
                <a title="Twitter pagina van Springvloed Fysiotherapie" href="https://twitter.com/Springfysio" rel="external">op twitter</a>,
                ik heb ook een youtube kanaal met instructie videos voor "warmups", rekken, e.d.
              </p>
              <p>
                <a href="http://www.youtube.com/playlist?list=PL8C2F13B936F59070" data-target="#latest_video" role="button" data-toggle="modal" class="btn btn-primary">{{ 'Bekijk de laatste video!' | trans }}</a>
              </p>
            </div>
          </div>
          <div class="span12">
            <div id="activitySlider" class="carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <img src="/assets/img/activity6.jpg">
                  <div class="carousel-caption">
                    <h4>Therapeutische Massage</h4>
                    <p>
                      Ontspanning, activatie, herstel, of meer souplesse kan bereikt worden door verschillende massagetoepassingen. Door mijn brede ervaring in o.a. ontspanning en sport ,-massage, thaise massage en stoelmassage, is er een scala aan mogelijkheden.
                    </p>
                  </div>
                </div>

                <div class="item">
                  <img src="/assets/img/activity1.jpg">
                  <div class="carousel-caption">
                    <h4>Triggerpoint Therapie</h4>
                    <p>
                      Triggerpoints, verwijst naar verhardingen in het spier-bindweefsel apparaat. Deze triggerpoints worden veroorzaakt doordat toxische stoffen zich ophopen in het interne millieu. Dit kan veroorzaakt worden door lichamelijke inspanning, eenzijdige voeding (bv teveel koffie), een overbelastende houding, negatieve gedachten over pijn etc.
                    </p>
                  </div>
                </div>

                <div class="item">
                  <img src="/assets/img/activity2.jpg">
                  <div class="carousel-caption">
                    <h4>Dry Needling</h4>
                    <p>
                      Dry Needling is als innovatieve vorm van fysiotherapie, onderdeel van een totale behandeling die gericht is op het verbeteren van (vaak chronische) spierklachten. Bij deze therapie wordt gebruik gemaakt van dunne acupunctuurnaalden, waarmee verhardingen in spieren effectief en snel kunnen worden ontspannen.
                    </p>
                  </div>
                </div>

                <div class="item">
                  <img src="/assets/img/activity3.jpg">
                  <div class="carousel-caption">
                    <h4>Medical Taping</h4>
                    <p>
                      Medical taping heeft vele toepassingen. Gewrichten, spieren en bindweefsel kunnen in hun functie worden ondersteund, waardoor je makkelijker de dagelijkse bewegingen kunt uitvoeren. Ondersteund met de juiste oefentherapie is dit een krachtige tool om je lichaam te herstellen.
                    </p>
                  </div>
                </div>

                <div class="item">
                  <img src="/assets/img/activity5.jpg">
                  <div class="carousel-caption">
                    <h4>Pijnmanagement</h4>
                    <p>
                      Op mindfulness gebaseerde strategie waarin je leert om pijn te accepteren in plaats van te bestrijden. Je krijgt pratische informatie uit de neurobiologie waarin duidelijk wordt dat de pijn niet altijd schade aan het lichaam betekend. Dat bijvoorbeeld de verwachting van pijn, pijn veroorzaakt. Voorwaarde is natuurlijk dat je openstaat voor zulke nieuwe inzichten.
                    </p>
                  </div>
                </div>


                <div class="item">
                  <img src="/assets/img/activity7.jpg">
                  <div class="carousel-caption">
                    <h4>Personal Training</h4>
                    <p>
                      Door verantwoord te bewegen met een ervaren deskundige aan je zijde wordt het een stuk makkelijker om doelstellingen te bereiken. Door mijn ervaring binnen de fysiotherapie, Pilates, Yoga, Bodypump, RPM, Bodycombat, Qi-running en Boot-camp, kan ik een volwaardige motiverende training uit de kast halen.
                    </p>
                  </div>
                </div>

                <div class="item">
                  <img src="/assets/img/activity4.jpg">
                  <div class="carousel-caption">
                    <h4>Mindfulness</h4>
                    <p>
                      Mindfulness is een manier om bewust contact te maken met prikkels die je ontvangt en zelf aanmaakt. Door vanuit een neutrale positie verschillende, gedachten, geluiden gevoelens onder de loep te nemen, verandert de lading van zo’n prikkel. Een nieuwe wereld gaat voor je open als je door een andere bril gaat kijken.
                    </p>
                  </div>
                </div>
              </div>

              <a class="carousel-control left" href="#activitySlider" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#activitySlider" data-slide="next">&rsaquo;</a>
            </div>

          </div>
        </div>
      </section>

      <section id="{{ hash_name('prices', app.locale) }}">
        <h1><a name="{{ hash_name('prices', app.locale) }}" class="anchor"></a>{{ 'Prijslijst' | trans }}</h1>

        <div class="row">
          <div class="span6 pull-right">
            <div class="alert alert-block alert-info  hidden-phone">
              <h4 class="alert-heading">Wist u dat fysiotherapie direct toegangkelijk is?</h4>
              <p>
                Wat houdt dit nu precies in? Tegenwoordig is het niet meer noodzakelijk om langs de huisarts te gaan voordat u naar de Fysiotherapeut gaat. Dit geldt tenzij u een chronische aandoening heeft en/of onder de 18 jaar bent.
              </p>
              <p>
                Wanneer u zonder tussenkomst van de huisarts komt, meld dit dan duidelijk. Er vind dan namelijk een screening plaats om te beoordelen, dat u hier aan het juiste adres bent, of dat toch eerst de huisarts geraadpleegd dient te worden.
              </p>
              <p>
                U bent natuurlijk vrij om altijd eerst langs de huisarts te gaan. U bent hoe dan ook van harte welkom
              </p>
            </div>

            <div class="alert alert-block alert-info">
              <h4 class="alert-heading">Vergoeding fysiotherapie</h4>
              <p>
                Springvloed Fysiotherapie is gecontracteerd door de alle verzekeraars. Tijdens het eerste consult wordt nagegaan in hoeverre uw verzekering fysiotherapie vergoed. Declaraties worden elke maand direkt doorgestuurd naar uw verzekeraar.
              </p>
            </div>

            <div class="alert alert-block alert-info  hidden-phone">
              <h4 class="alert-heading">Kwaliteit</h4>
              <p>
                Ik ben opgenomen in het kwaliteitsregisteer van het <a href="http://www.fysionet.nl/" title="het Koninklijk Nederlands Genootschap voor Fysiotherapie" rel="external">KNGF</a> en tevens <abbr title="Beroepen in de Individuele Gezondheidszorg">BIG</abbr> <a title="Bekijk de BIG registratie van Martin Springvloed, Fysiotherapeut." rel="external" href="http://www.bigregister.nl/?bignummer=89060405904">geregistreerd</a>. Voor eventuele klachten kunt u bij mij terecht, maar ook bij de klachtenregeling van het KNGF (zie folder).
              </p>
              <p>
                Om u verder zo goed mogelijk van dienst te kunnen zijn doe ik mee aan een landelijke kwaliteitsmeting (de Fysio-prestatie-monitor), ik verzoek de medewerking van klanten om tevredenheid hier mee te toetsen.
              </p>
            </div>

            <div class="alert-block alert alert-success bigregister hidden-phone">
              <h3>BIG-geregistreerd</h3>
              <p>
                Ik ben opgenomen in het landelijke <abbr title="Beroepen in de Individuele Gezondheidszorg">BIG</abbr> register.<br />
                <a href="http://www.bigregister.nl/?bignummer=89060405904" rel="external">Bekijk mijn registratie op bigregister.nl</a>
              </p>
            </div>

          </div>
          <div class="span6">
            <table class="table table-striped table-bordered" cols="40,*">
              <thead>
                <tr>
                  <th>{{ 'product' | trans }}</th>
                  <th>{{ 'prijs' | trans }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Behandeling fysiotherapie 30 minuten</td>
                  <td class="num">&euro; 33,00</td>
                </tr>
                <tr>
                  <td>Screening</td>
                  <td class="num">&euro; 13,00</td>
                </tr>
                <tr>
                  <td>Intake en onderzoek na screening</td>
                  <td class="num">&euro; 29,75</td>
                </tr>
                <tr>
                  <td>Intake en onderzoek na verwijzing</td>
                  <td class="num">&euro; 40,00</td>
                </tr>
                <tr>
                  <td>Eenmalig fysiotherapeutisch consult</td>
                  <td class="num">&euro; 49,00</td>
                </tr>
                <tr>
                  <td>Telefonische zitting</td>
                  <td class="num">&euro; 13,00</td>
                </tr>
                <tr>
                  <td>Toeslag behandeling aan huis</td>
                  <td class="num">&euro; 12,00</td>
                </tr>
                <tr>
                  <td>Niet nagekomen afspraak</td>
                  <td class="num">&euro; 20,00</td>
                </tr>
                <tr>
                  <td>Eenvoudige, korte rapporten</td>
                  <td class="num">&euro; 25,00</td>
                </tr>
                <tr>
                  <td>Meer gecompliceerd, tijdrovende rapporten</td>
                  <td class="num">&euro; 49,75</td>
                </tr>
                <tr>
                  <td>Pakket Privedekking 5 behandelingen <a href="#pricelistfoot" class="footnote">*</a></td>
                  <td class="num">&euro; 140,00</td>
                </tr>
                <tr>
                  <td>Pakket Privedekking 10 behandelingen <a href="#pricelistfoot" class="footnote">*</a></td>
                  <td class="num">&euro; 160,00</td>
                </tr>
                <tr>
                  <td>Medical Tape per rol</td>
                  <td class="num">&euro; 20,00</td>
                </tr>
                <tr>
                  <td>Medical Taping per consult</td>
                  <td class="num">&euro; 5,00</td>
                </tr>
                <tr>
                  <td>Massage 30 min.</td>
                  <td class="num">&euro; 33,00</td>
                </tr>
                <tr>
                  <td>Massage 60 min.</td>
                  <td class="num">&euro; 60,00</td>
                </tr>
                <tr>
                  <td>Massage 75 min.</td>
                  <td class="num">&euro; 88,00</td>
                </tr>
                <tr>
                  <td>Persoonlijke Begeleiding Sporten 30 min.</td>
                  <td class="num">&euro; 33,00</td>
                </tr>
                <tr>
                  <td>Persoonlijke Begeleiding Sporten 60 min.</td>
                  <td class="num">&euro; 60,00</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <a name="pricelistfoot">&nbsp;</a>
                    <span class="footnote">*</span> exclusief screening, intake en onderzoek.
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <p>
              <strong class="subtitle">{{ 'Betalingsvoorwaarden' | trans }}:</strong>
              <a data-toggle="collapse" data-target="#betalingsvoorwaarden" class="btn btn-info">
                <i class="icon-plus icon-white"></i>
                {{ 'lees' | trans }}
              </a>
              <a class="btn btn-info" href="/assets/pdf/springvloedfysio-betalingsvoorwaarden.pdf">
                <i class="icon-download-alt icon-white"></i>
                {{ 'download (pdf)' | trans }}
              </a>
            </p>

            <div id="betalingsvoorwaarden" class="collapse out">
              <div class="alert alert-info">
                <ol class="spaced">
                  <li>Deze betalingsvoorwaarden maken onderdeel uit van de behandelingsovereenkomsten tussen u als patiënt/cliënt en de fysiotherapeut/heilgymnast-masseur. Deze betalingsvoorwaarden worden voor of bij het sluiten van de behandelingsovereenkomst aan de patiënt/cliënt of zijn wettelijke vertegenwoordiger ter hand gesteld.</li>
                  <li>Afspraken die niet kunnen worden nagekomen dienen uiterlijk 24 uur voor de behandeling afgezegd te worden. Bij het niet afzeggen of bij afzeggen binnen 24 uur voor de afspraak behoudt de fysiotherapeut/heilgymnast-masseur zich het recht voor 75 % van het tarief van de voorgenomen behandeling in rekening te brengen bij de patiënt (zowel particulier als ziekenfonds verzekerd) wanneer in de gereserveerde tijd geen andere patiënten worden behandeld.</li>
                  <li>De declaraties van de fysiotherapeut/heilgymnast-masseur voor honoraria, kosten, vergoedingen en leveringen, dienen binnen dertig dagen na factuurdatum te worden voldaan. Blijft betaling binnen de genoemde termijn uit, dan verkeert de patiënt/cliënt in verzuim met ingang van de eenendertigste dag na factuurdatum.</li>
                  <li>Indien door de patiënt/cliënt een machtiging is verleend tot bank- of giro-incasso dan wel een ondertekende acceptgiro-betalingsopdracht is afgegeven aan de fysiotherapeut, dan wordt hier op of omstreeks de twintigste dag na factuurdatum gebruik van gemaakt. Wordt de betaling niet binnen tien dagen daarna ontvangen, dan verkeert de patiënt/cliënt in verzuim met ingang van de elfde dag nadat tevergeefs gebruik is gemaakt van de bank- of giro-incasso, danwel van de acceptgiro-betalingsopdracht.</li>
                  <li>Zodra de patiënt/cliënt in verzuim verkeert, is de fysiotherapeut/heilgymnast-masseur gerechtigd over de verschuldigde hoofdsom of over het restant daarvan de wettelijke rente in rekening te brengen. Telkens wordt na afloop van een jaar het bedrag waarover deze rente wordt berekend, vermeerderd met de over dat jaar verschuldigde rente.</li>
                  <li>Indien de patiënt/cliënt in verzuim verkeert, is de fysiotherapeut/heilgymnast-masseur gerechtigd incassomaatregelen te treffen, danwel derden daarmee te belasten. Alle met de incasso van gedeclareerde bedragen gemoeide kosten (met inbegrip van de buitengerechtelijke incassokosten) komen voor rekening van de patiënt/cliënt. De buitengerechtelijke incassokosten bedragen minimaal 15% van de hoofdsom of het restant daarvan, vermeerderd met de wettelijke rente, met een minimum van &euro; 20,- alles exclusief omzetbelasting.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="{{ hash_name('location', app.locale) }}">
        <h1><a name="{{ hash_name('location', app.locale) }}" class="anchor"></a>{{ 'Locatie' | trans }}</h1>
        <div class="row">
          <div class="span12">
            <p>Ik kan u ontvangen op twee locaties in Rotterdam, in de deelgementes Kralingen (<em><strong>Sportcentrum Hollander</strong></em>) en het Oude Westen (<em><strong>Centrum Gezondheid &amp; Welzijn</strong></em>), mijn primaire praktijk is in Kralingen vanwege de uitgebreide sport-school faciliteiten die daar tot de beschiking zijn.</p>

            <noscript>
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps/ms?msa=0&amp;msid=211706799872090331703.0004c72e86a364a34d425&amp;ie=UTF8&amp;t=m&amp;ll=51.922144,4.486714&amp;spn=0.010269,0.046521&amp;output=embed"></iframe>
              <small><a href="//maps.google.com/maps/ms?msa=0&amp;msid=211706799872090331703.0004c72e86a364a34d425&amp;ie=UTF8&amp;t=m&amp;ll=51.922144,4.486714&amp;spn=0.010269,0.046521&amp;source=embed">{{ 'bekijk deze kaart in een grotere weergave' | trans }}</a>.</small>
            </noscript>

            <div id="gmap"></div>
          </div>
        </div>
        <div class="row">
          <div id="gmap_route_ctrls" class="btn-toolbar span12">
            <div style="float: left">
              <div class="input-prepend input-append"><span class="add-on"><i class="icon-home"></i></span><input type="text" class="large" placeholder="{{ 'van (bvd. stad, adres of postcode)' | trans }}" name="from">&nbsp;<span class="add-on"><i class="icon-arrow-right"></i></span></div>
            </div>

            <select name="to" data-convert="yes">
              <option>{{ 'praktijk Kralingen' | trans }}</option>
              <option>{{ 'praktijk Oude Westen' | trans }}</option>
            </select>

            <select name="mode" data-convert="yes">
              <option>{{ 'met de fiets' | trans }}</option>
              <option>{{ 'lopend' | trans }}</option>
              <option>{{ 'met OV' | trans }}</option>
              <option>{{ 'met de auto' | trans }}</option>
            </select>

            <div class="btn-group">
              <button id="gmap_showroute_btn" class="btn btn-info" data-loading-text="{{ 'route wordt berekend...' | trans }}" autocomplete="off"><i class="icon-white icon-road"></i> {{ 'toon route' | trans }}</button>
            </div>

            <div class="btn-group">
              <button id="gmap_showroutedesc_btn" data-toggle="collapse" data-target="#gmap_route_wrap" class="btn btn-inverse"><i class="icon-plus icon-white"></i> {{ 'bekijk route omschrijving' | trans }}</button>
            </div>
          </div>

          <div id="gmap_route_wrap" class="span12 collapse out">
            <div id="gmap_route_cnt" class="alert alert-info">
            </div>
          <div>
        </div>
      </section>
    </div>


    <div class="modal hide scroll" id="latest_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{ 'Laatste Video van Springvloed Fysiotherapie' | trans }}</h3>
      </div>
      <div class="modal-body modal-video">
        <iframe width="100%" height="100%" src="//www.youtube.com/embed/videoseries?list=PL8C2F13B936F59070" frameborder="0" allowfullscreen="0"></iframe>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Sluiten' | trans }}</button>
        <a class="btn btn-primary" href="//www.youtube.com/playlist?list=PL8C2F13B936F59070" rel="external">{{ 'Bekijk alle videos op youtube' | trans }}</a>
      </div>
    </div>
{% endblock %}